/* 전체 페이지 스타일링 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.title {
  margin-right: 1350px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 카드 스타일링 */
.cards {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: bold;
}

.card-buttons {
  display: flex;
}

#add-card {
  margin-left: 250px;
  cursor: pointer;
}

#delete-card {
  cursor: pointer;
}

#columnTitle {
  border-bottom: 2px solid #000;
  text-align: center;
}

/* 추가 버튼 스타일링 */
#add-column {
  font-size: 20px;
  margin-bottom: 10px;
}

#columList {
  border: 1px solid #000;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  min-height: 500px;
  display: inline-block; /* 가로 정렬을 위한 추가 */
}

#card-container {
  white-space: nowrap;
  overflow-x: auto;
  display: grid; /* 그리드 형식 적용 */
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 4개의 카드를 보여줌 */
  gap: 10px; /* 카드 사이의 간격 설정 */
}

#myModal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#cardModal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}

.columnModarClose {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cardModarClose {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* 모달 내의 입력 요소 스타일 */
#modal-title,
#card-title,
#modal-content,
#modal-worker,
#modal-deadLine {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#save-column {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#save-card {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#detailCard {
  margin-left: 200px;
  cursor: pointer;
}
