.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #343a40;
  color: #ffffff;
}
.logo,
.lead {
  font-size: 24px;
}
.login-button {
  margin-left: 10px;
}
.background-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYmCPxS9DKHEuit1GSI6zy_a38lOZ8a_hGzw&usqp=CAU');
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.description {
  padding: 50px;
  text-align: center;
  background-color: #f8f9fa;
}
.join-button {
  margin-top: 20px;
}
