/* 원하는 스타일을 추가합니다. */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #343a40;
  color: #ffffff;
}
.logo {
  font-size: 24px;
}
.login-button {
  margin-left: 10px;
}
.container {
  display: flex;
  justify-content: flex-end;
}
.myInfo-button {
  margin-right: 20px;
}
.join-button {
  margin-top: 20px;
}
/* 추가된 스타일 */
.board-title {
  text-align: center;
  margin-top: 30px;
}

.black-line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-top: 20px;
}

.board-button {
  text-align: center;
  margin-top: 20px;
}
